@import "base/images";
@import "composants/buttons";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/forms";
@import "pages/home";
@import "utils/variables";

*{
    box-sizing: border-box;
}

body{
    font-family: $body-font;
    margin: auto;
   }

main li{
    text-decoration: none;
    display: flex;
    margin-bottom: 8%;
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
    display: flex;
    &hover{
        cursor: pointer;
    }
}
.evenement{
    position: absolute;
    padding: 7px 13px;
    background-color: #99E2D0;
    color: #1d8269cf;
    font-weight: bold;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 32px;
    margin-right: 41px;
    @include mobile-Medium-screen{
        padding: 5px 8px;
        margin-top: 34px;
        font-size: 13px;
    }
    @include mobile-Small-screen{
        font-size: 10px;
    }
    @include tablette{
        margin-top: 47px;
        margin-right: 64px;
    }
}
.Titrepages{
    font-family: $title-font;
    font-size: $font-size-title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:$color-background;
    border: 1px solid $color-background;
    border-radius: 50px 50px 0 0px;
    margin-top: -65px;
    position: absolute;
    width: 100%;
    margin-left: 0;
    padding-right: 45px;
    padding-left: 20px;
    .fa-heart{
        height: 1.5rem;
        margin-top: -0.6rem;
        margin-right: 0;
    }
    @include mobile-Medium-screen{
        width: 100%;
        font-size: 18px;
        margin-top: -60px;
        .fa-heart{
            margin-top: -0.7rem;
            margin-right: -0.2rem;
        }
    }
    @include mobile-Small-screen{
        font-size: 15.5px;
        margin-top: -50px;
        .fa-heart{
            margin-right: -0.8rem;
            height: 1.2rem;
            margin-top: -0.2rem;
        }
    }
    @include tablette{
        font-size: 36px;
        padding-right: 50px;
        padding-left: 25px;
        .fa-heart{
            height: 3rem;
            margin-top: -0.6rem;
            margin-right: 1rem;

        }
    }
}

.choixrestaurants{
    background-color:$color-background;
    display: grid;
    height: auto;
    flex-direction: column;
    justify-content: center;
    height: 1220px;
    
    @include mobile-Medium-screen{
        height: 1100px;
    }
    @include mobile-Small-screen{
        height: 950px;
    }
    @include tablette{
        height: 1650px;
    }
}
.titreacceuil{
    font-size: $font-size-title;
    margin-left: 5%;
    margin-top: 40px;
    @include mobile-Medium-screen{
        font-size: 23px;
        
    }
    @include mobile-Small-screen{
        margin-left: 7%;
        font-size: 20px;
    }
    @include tablette{
        font-size: 29px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
.restaurants{
    margin-top: -50px;
    @include mobile-Medium-screen{
        margin-top: -60px;
    }
    @include tablette{
        margin-top: -30px;
    }
    @include desktop{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
}
.menus{
    background-color: $color-background;
    margin-top: 25px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    @include mobile-Medium-screen{
        margin-top: 20px;
    }
    @include mobile-Small-screen{
        margin-top: 15px;
    }
    @include tablette{
        margin-top: 100px;
    }
    
}
.entrees{
    display: flex;
    flex-direction: column;
}
.plats{
    display: flex;
    flex-direction: column;
}
.desserts{
    display: flex;
    flex-direction: column;
}
article h2{
    margin-left: 25px;
    font-weight: lighter;
    border-bottom: 3px solid $color-tertiary;
    width: 9%;
    padding-bottom: 5px;
    font-size: 15px;
    @include mobile-Medium-screen{
        margin-left: 20px;
    }
    @include mobile-Small-screen{
        margin-left: 20px;
    }
    @include tablette{
        font-size: 23px;
    }
}

.legende{
    align-items: baseline;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: -5px;
    text-align: left;
    font-size: $font-size-body;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include mobile-Medium-screen{
        font-size: 14px;
    }
    @include mobile-Small-screen{
        font-size: 12px;
    }
    @include tablette{
        font-size: 23px;
    }
}
.legende p{
margin-bottom: 0px;
margin-top: -12px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
width: 310px;
font-size: 16.5px;
    @include mobile-Medium-screen{
        width: 265px;
        font-size: 14.3px;
    }
    @include mobile-Small-screen{
        width: 227px;
        font-size: 12.3px;
    }
    @include tablette{
        width: 442px;
        font-size: 23.5px;
    }
}
.desserts .legende p{
    font-size: 16.1px;
    @include mobile-Medium-screen{
    font-size: 14px;
    }
    @include mobile-Small-screen{
       font-size: 12px;
    }
    @include tablette{
        font-size: 23.1px;
    }
}
.legende p.myrtilles {
    font-size: 17.8px;
    @include mobile-Medium-screen{
        font-size: 15.5px;
        }
    @include mobile-Small-screen{
        font-size: 13.5px;
        }
    @include tablette{
        font-size: 25.8px;
    }
}
.noteenchantee p{
    font-size: 16px;
    @include mobile-Medium-screen{
        font-size: 14px;
    }
    @include mobile-Small-screen{
        font-size: 12.3px;
    }
    @include tablette{
        font-size: 23px;
    }
    
}

.prix{
    margin-right: 20px;
    margin-bottom: -30px;
    font-weight: bold;
    font-size: $font-size-body;
    @include mobile-Medium-screen{
        font-size: 15px;
        margin-bottom: -20px;
        margin-right: 15px;
    }
    @include mobile-Small-screen{
        font-size: 13px;
        margin-bottom: -10px;
        margin-right: 10px;
    }
    @include tablette{
        font-size: 22px;
        margin-bottom: -55px;
        }
    
}

.commander{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    background-color: $color-background;
    height: 150px;
    @include tablette{
        height: 200px;
    }
}

