@import "base/images";
@import "composants/buttons";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/forms";
@import "pages/home";
@import "utils/variables";

*{
    box-sizing: border-box;
}

body{
    font-family: $body-font;
    margin: auto;
   }

main li{
    text-decoration: none;
    display: flex;
    margin-bottom: 8%;
    justify-content: center;
    align-items: center;
    @include desktop-S{
        margin-right: 30px;
        margin-bottom: 5%;
        margin-left: 1%;
    }
    @include desktop-M{
        margin-right: 30px;
        margin-bottom: 5%;
        margin-left: 1%;
    }
    @include desktop-L{
        margin-right: 25px;
        margin-bottom: 5%;
        margin-left: 1%;
    }

    
}

a{
    text-decoration: none;
    display: flex;
    &hover{
        cursor: pointer;
    }
}
.evenement{
    position: absolute;
    padding: 7px 13px;
    background-color: #99E2D0;
    color: #1d8269cf;
    font-weight: bold;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 37px;
    margin-right: 51px;
    @include mobile-Medium-screen{
        padding: 5px 8px;
        margin-top: 40px;
        font-size: 10px;
    }
    @include mobile-Small-screen{
        font-size: 8px;
        margin-top: 38px;
    }
    @include tablette{
        margin-top: 43px;
        margin-right: 50px;
        padding: 3px 7px;
        font-size: 11px;
    }
    
    @include desktop-S{
        font-size: 11px;
        margin-top: 39px;
        margin-right: 46px;
    }
    @include desktop-M{
        padding: 5px 10px;
        margin-top: 39px;
    }
    @include desktop-L{
        padding: 5px 13px;
        margin-top: 43px;
        margin-right: 62px;
    }
}
.Titrepages{
    font-family: $title-font;
    font-size: $font-size-title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:$color-background;
    border: 1px solid $color-background;
    border-radius: 50px 50px 0 0px;
    margin-top: -65px;
    position: absolute;
    width: 100%;
    margin-left: 0;
    padding-right: 45px;
    padding-left: 20px;
    .fa-heart{
        height: 1.5rem;
        margin-top: -0.6rem;
        margin-right: 0;
    }
    @include mobile-Medium-screen{
        width: 100%;
        font-size: 18px;
        margin-top: -60px;
        .fa-heart{
            margin-top: -0.7rem;
            margin-right: -0.2rem;
        }
    }
    @include mobile-Small-screen{
        font-size: 15.5px;
        margin-top: -50px;
        .fa-heart{
            margin-right: -0.8rem;
            height: 1.2rem;
            margin-top: -0.2rem;
        }
    }
    @include tablette{
        font-size: 22px;
        padding-right: 20%;
        padding-left: 25%;
        .fa-heart{
            height: 2rem;
            margin-top: -0.6rem;
            margin-right: 2rem;

        }
    }
    @include desktop-S{
        font-size: 16px;
        margin-top: -47px;
        padding-right: 0.7%;
        padding-left: 2.3%;
       
        
        .fa-heart{
            height: 1.5rem;
            margin-right: 3rem;
        }
    }
    @include desktop-M{
        font-size: 23px;
        margin-top: -68px;
        padding-right: 0;
        padding-left: 1.5%;
        
        .fa-heart{
            height: 2rem;
            margin-right: 4rem;
        }
    }
    @include desktop-L{
        font-size: 37px;
        margin-top: -98px;
        padding-right: 2.7%;
        padding-left: 1%;
        
        .fa-heart{
            height: 2.5rem;
            margin-right: 1rem;
        }
    }
}

.choixrestaurants{
    background-color:$color-background;
    display: grid;
    height: auto;
    flex-direction: column;
    justify-content: center;
    height: 1220px;
    
    @include mobile-Medium-screen{
        height: 1100px;
    }
    @include mobile-Small-screen{
        height: 950px;
    }
    @include tablette{
        display: flow-root;
        height: 640px;
    }
    @include desktop-S{
        display: flow-root;
        height: 730px;
    }
    @include desktop-M{
        display: flow-root;
        height: 730px;
    }
    @include desktop-L{
        display: flow-root;
        height: 810px;
    }
}
.titreacceuil{
    font-size: $font-size-title;
    margin-left: 5%;
    margin-top: 40px;
    @include mobile-Medium-screen{
        font-size: 23px;
        
    }
    @include mobile-Small-screen{
        margin-left: 7%;
        font-size: 20px;
    }
    @include tablette{
        font-size: 25px;
        
        margin-bottom: 35px;
    }
    @include desktop-S{
        margin-left: 13%;
    }
    @include desktop-M{
        margin-left: 23.2%;
    }
    @include desktop-L{
        margin-left: 31.5%;
    }
}
.restaurants{
    margin-top: -50px;
    @include mobile-Medium-screen{
        margin-top: -60px;
    }
    @include tablette{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin:0 3%;
        position: absolute;
        
    }
    @include desktop-S{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin:1% 10%;
        position: absolute;
    } 
    @include desktop-M{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin:1% 20%;
        position: absolute;
    }
    @include desktop-L{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin:1% 30%;
        position: absolute;
    }
   
    }

    

.menus{
    background-color: $color-background;
    margin-top: 25px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    @include mobile-Medium-screen{
        margin-top: 20px;
    }
    @include mobile-Small-screen{
        margin-top: 15px;
    }
    @include tablette{
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }
    @include desktop-S{
        flex-direction: row;
        margin-top: 30px;
        justify-content: space-between;
        
    }
    @include desktop-M{
        flex-direction: row;
        margin-top: 40px;
        justify-content: space-between;
    }
    @include desktop-L{
        flex-direction: row;
        margin-top: 60px;
    }
    
}
.entrees{
    display: flex;
    flex-direction: column;
    @include desktop-S{
        margin-right: 3%;
        margin-left: 0%;
    }
    @include desktop-M{
        margin-right: -6%;
       
    }
    @include desktop-L{
        margin-right: 10%;
        margin-left: 2%;
    }
   
}
.plats{
    display: flex;
    flex-direction: column;
    @include desktop-S{
        margin-right: 3%;
        margin-left: 0%;
    }
    @include desktop-M{
        margin-right: 0%;
        margin-left: 7.5%;
    }
    @include desktop-L{
        margin-right: 12%;
        margin-left: 4.5%;
    }
}
.desserts{
    display: flex;
    flex-direction: column;
    @include desktop-S{
        margin-left: 0%;
        margin-right: 5%;
    }
    @include desktop-M{
        margin-left: 1.4%;
        margin-right: 7%;
    }
    @include desktop-L{
        margin-left: 2.2%;
    }
}
article h2{
    margin-left: 25px;
    font-weight: lighter;
    border-bottom: 3px solid $color-tertiary;
    width: 9%;
    padding-bottom: 5px;
    font-size: 15px;
    @include mobile-Medium-screen{
        margin-left: 20px;
    }
    @include mobile-Small-screen{
        margin-left: 20px;
    }
    @include tablette{
        font-size: 20px;
        width: 6.5%;
    }
    @include desktop-S{
        font-size: 13px;
        width: 7%;
    }
    @include desktop-L{
        font-size: 25px;
        width: 13%;
    }
}

.legende{
    align-items: baseline;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: left;
    font-size: $font-size-body;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include mobile-Medium-screen{
        font-size: 14px;
    }
    @include mobile-Small-screen{
        font-size: 12px;
    }
    @include tablette{
        font-size: 18px;
    }
    @include desktop-S{
        margin-left: 4px;
        margin-right: 0;
        font-size: 12.5px;

    }
    @include desktop-M{
        margin-right: 16%;
        
        font-size: 16px;
    }
    @include desktop-L{
        margin-left: -14px;
        margin-right: 0;
        font-size: 21px;
    }
}
.legende p{
margin-bottom: 0px;
margin-top: -12px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
width: 310px;
font-size: 16.5px;
    @include mobile-Medium-screen{
        width: 265px;
        font-size: 14.3px;
    }
    @include mobile-Small-screen{
        width: 227px;
        font-size: 12.3px;
    }
    @include tablette{
        width: 345px;
        font-size: 18.5px;
    }
    @include desktop-S{
        width: 226px;
        font-size: 12px;
    }
    @include desktop-M{
        width: 300px;
        font-size: 15.4px;
    }
    @include desktop-L{
        width: 405px;
        font-size: 21.5px;
    }
}
.desserts .legende p{
    font-size: 16.1px;
    @include mobile-Medium-screen{
    font-size: 14px;
    }
    @include mobile-Small-screen{
       font-size: 12px;
    }
    @include tablette{
        font-size: 18.1px;
        
    }
    @include desktop-S{
        font-size: 12.5px;
        width: 258px;
    }
    @include desktop-M{
        font-size: 16px;
        width: 328px;
        
    }
    @include desktop-L{
        font-size: 21.2px;
        
    }
}
.legende p.myrtilles {
    font-size: 17.8px;
    @include mobile-Medium-screen{
        font-size: 15.5px;
        }
    @include mobile-Small-screen{
        font-size: 13.5px;
        }
    @include tablette{
        font-size: 20px;
    }
    @include desktop-S{
        font-size: 13.8px;
    }
    @include desktop-M{
        font-size: 18.8px;
    }
    @include desktop-L{
        font-size: 23.8px;
    }

}
.noteenchantee p{
    font-size: 16px;
    @include mobile-Medium-screen{
        font-size: 14px;
    }
    @include mobile-Small-screen{
        font-size: 12.3px;
    }
    @include tablette{
        font-size: 19px;
    }
    @include desktop-S{
        font-size: 12.5px;
    }
    @include desktop-L{
        font-size: 21px;
    }
    
}

.prix{
    margin-right: 20px;
    margin-bottom: -30px;
    font-weight: bold;
    font-size: $font-size-body;
    @include mobile-Medium-screen{
        font-size: 15px;
        margin-bottom: -20px;
        margin-right: 15px;
    }
    @include mobile-Small-screen{
        font-size: 13px;
        margin-bottom: -10px;
        margin-right: 10px;
    }
    @include tablette{
        font-size: 18px;
        margin-right: 23px;
        margin-bottom: -40px;
        }
    @include desktop-S{
            font-size: 13px;
            margin-left: 5%;
            margin-bottom: -20px;
        }
    @include desktop-L{
        font-size: 25px;
        margin-left: 30%;
    }
    
}

.commander{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    background-color: $color-background;
    height: 150px;
    @include tablette{
        height: 200px;
    }
    @include desktop-L{
        height: 250px;
    }
}

