@import "base/images";
@import "composants/buttons";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/forms";
@import "pages/home";
@import "utils/variables";

*{
    box-sizing: border-box;
}

body{
    font-family: $body-font;
    margin: auto;
   }
body .description nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
}
h2{
    font-size: x-large;
    @include mobile-Small-screen{
        font-size: $font-size-title;
    }
}
main li{
    text-decoration: none;
    display: flex;
    margin-bottom: 8%;
    justify-content: center;
    align-items: center;
    
}

a{
    text-decoration: none;
}
.Titrepages{
    font-family: $title-font;
    font-style: italic;
    font-size: $font-size-title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:$color-background;
    border: 1px solid $color-background;
    border-radius: 50px 50px 0 0px;
    margin-top: -65px;
    position: absolute;
    width: 96%;
    margin-left: 1px;
    padding-right: 45px;
    padding-left: 20px;
}
.choixrestaurants{
    background-color:$color-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.titreacceuil{
    margin-left: 5%;
    @include mobile-Small-screen{
        margin-left: 7%;
    }
}

.menus{
    background-color: $color-background;
    margin-top: 12px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-left: 1px;
}
.entrees{
    display: flex;
    flex-direction: column;
}
.plats{
    display: flex;
    flex-direction: column;
}
.desserts{
    display: flex;
    flex-direction: column;
}
article h2{
    margin-left: 20px;
    font-weight: lighter;
    border-bottom: 3px solid $color-tertiary;
    width: 11%;
    padding-bottom: 5px;
    font-size: 15px;
}
.fa-heart{
    height: 30px;
    margin-top: -10px;
    border-width: thin;
}
.legende{
    align-items: baseline;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: $font-size-body;
}
.legende p{
margin-bottom: 0px;
margin-top: -12px;
}
.prix{
    margin-right: 10px;
    margin-bottom: -30px;
    font-weight: bold;
    font-size: $font-size-body;
}
.commander{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    background-color: $color-background;
    height: 150px;
}