@charset "UTF-8";
.imgrestaurant {
  width: 99.9%;
  height: 310px;
  object-fit: cover;
  object-position: 48%;
  margin-left: 0.5px;
}
@media screen and (max-width: 424px) {
  .imgrestaurant {
    object-position: 63%;
    height: 280px;
  }
}
@media screen and (max-width: 374px) {
  .imgrestaurant {
    height: 235px;
    object-position: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .imgrestaurant {
    height: 470px;
    object-position: 50% 8%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .imgrestaurant {
    height: 350px;
    object-position: 40% 58%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .imgrestaurant {
    height: 450px;
    object-position: 40% 58%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .imgrestaurant {
    height: 600px;
    object-position: 40% 58%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .img-noteenchantee {
    object-position: 50% 48%;
  }
}

.btn {
  font-size: 16px;
  border-radius: 50px;
  margin-bottom: 50px;
  background: linear-gradient(356deg, #9356DC, #FF79DA);
  border: transparent;
  display: flex;
  color: white;
  box-shadow: 0px 8px 10px -5px grey;
  cursor: pointer;
  padding: 15px 20px;
  transition: opacity 0.5s ease-in-out;
  transition: box-shadow 0.5s;
}
.btn:hover {
  opacity: 0.7;
  border: none;
  box-shadow: 0px 16px 20px -5px grey;
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .btn {
    font-size: 22px;
  }
}

.btncommander {
  font-size: 16px;
  border-radius: 50px;
  margin-bottom: 50px;
  background: linear-gradient(356deg, #9356DC, #FF79DA);
  border: transparent;
  display: flex;
  color: white;
  box-shadow: 0px 8px 10px -5px grey;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  padding: 15px 50px;
}
.btncommander:hover {
  opacity: 0.7;
  border: none;
  box-shadow: 0px 16px 20px -5px grey;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btncommander {
    font-size: 16px;
    padding: 18px 60px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .btncommander {
    font-size: 15px;
    padding: 13px 55px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .btncommander {
    font-size: 18px;
    padding: 12px 55px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .btncommander {
    font-size: 28px;
    padding: 20px 65px;
  }
}

.btnfonctionnement {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  padding: 20px;
  width: 370px;
  border-radius: 25px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -5px;
  height: 80px;
  font-weight: 400;
  box-shadow: 0px 2px 5px 2px #eaeaea;
  transition: background-color 0.3s;
  transition: box-shadow 0.3s;
}
.btnfonctionnement:hover {
  background-color: #f2eafb;
  border: none;
  box-shadow: 5px 4px 10px 8px #eaeaea;
}
.btnfonctionnement:hover .fa-mobile-screen-button,
.btnfonctionnement:hover .fa-list,
.btnfonctionnement:hover .fa-store {
  color: #9356DC;
}
@media screen and (max-width: 424px) {
  .btnfonctionnement {
    width: 320px;
  }
}
@media screen and (max-width: 374px) {
  .btnfonctionnement {
    width: 270px;
    font-size: 15px;
    height: 65px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .btnfonctionnement {
    width: 230px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .btnfonctionnement {
    width: 230px;
    font-size: 14px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .btnfonctionnement {
    width: 295px;
    font-size: 19px;
  }
}

.btn-fleche-retour {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: -93px;
  cursor: pointer;
}
@media screen and (max-width: 424px) {
  .btn-fleche-retour {
    margin-left: -87px;
    font-size: 19px;
  }
}
@media screen and (max-width: 374px) {
  .btn-fleche-retour {
    margin-left: -58px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btn-fleche-retour {
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .btn-fleche-retour {
    font-size: 23px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .btn-fleche-retour {
    font-size: 28px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .btn-fleche-retour {
    font-size: 45px;
  }
}

.flechelogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .flechelogo {
    height: 80px;
    justify-content: space-evenly;
    margin-left: -15%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .flechelogo {
    height: 50px;
    justify-content: space-evenly;
    margin-left: -25%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .flechelogo {
    height: 80px;
    justify-content: space-evenly;
    margin-left: -30%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .flechelogo {
    justify-content: space-evenly;
    margin-left: -36%;
    height: 90px;
  }
}

.titreheader {
  font-size: 32px;
  font-family: "Shrikhand", sans-serif;
  margin-top: 0px;
  height: 20px;
  text-align: center;
}
@media screen and (max-width: 424px) {
  .titreheader {
    font-size: 31px;
  }
}
@media screen and (max-width: 374px) {
  .titreheader {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titreheader {
    font-size: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .titreheader {
    font-size: 35px;
    height: 24px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .titreheader {
    font-size: 35px;
    height: 30px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .titreheader {
    font-size: 45px;
    height: 30px;
  }
}

footer {
  background-color: #353535;
  color: white;
  padding: 1px 30px;
}
footer nav {
  margin-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer nav {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer nav {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 0;
  }
}
footer .textfooter {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 21px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer .textfooter {
    margin-left: -45px;
    margin-bottom: 0;
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer .textfooter {
    margin-bottom: 0;
    font-size: 23px;
    margin-left: 6%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  footer .textfooter {
    margin-left: 23%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  footer .textfooter {
    margin-left: 31%;
    font-size: 35px;
  }
}
footer ul {
  list-style: none;
  margin-left: -40px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -13%;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
footer li {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer li {
    margin-right: 67px;
    font-size: 13px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer li {
    margin-right: 70px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  footer li {
    margin-right: 56px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1844px) and (max-width: 2559px) {
  footer li {
    margin-right: 130px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  footer li {
    margin-right: 30px;
    font-size: 27px;
  }
}
footer .fa-utensils {
  margin-right: 10px;
}
footer .fa-handshake-angle {
  margin-right: 4px;
}
footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer {
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  footer {
    justify-content: center;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  footer {
    justify-content: center;
    height: 250px;
    padding: 40px 30px;
  }
}

.form {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  background: linear-gradient(180deg, #cbcbcb -1%, #eaeaea 7%);
}
.form .formtext {
  margin-right: -60px;
  font-size: 16px;
  width: 190px;
}
@media screen and (max-width: 374px) {
  .form .formtext {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .form .formtext {
    font-size: 17px;
    margin-right: -44px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .form .formtext {
    font-size: 17px;
    margin-right: -41px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .form .formtext {
    margin-right: -42px;
    font-size: 18px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .form .formtext {
    font-size: 23px;
    margin-right: 5px;
  }
}
.form .iconegeo {
  margin-right: 20px;
  font-size: 16px;
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .form .iconegeo {
    font-size: 22px;
  }
}

input:disabled {
  background: transparent;
  border: transparent;
}

input::placeholder {
  color: black;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes check {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes slidein-L {
  0% {
    left: 100%;
    opacity: 0;
    z-index: -1;
    transform: scale(0.5) translateX(-100%);
  }
  50% {
    opacity: 0.5;
    z-index: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    z-index: 0;
    left: 0;
  }
}
@keyframes slidein-R {
  0% {
    top: 100%;
    right: 0;
    z-index: -1;
    opacity: 0;
    transform: scale(0.5) translateX(100%);
  }
  50% {
    opacity: 0.7;
    z-index: 0;
    right: 0;
  }
  100% {
    top: 0;
    right: 100%;
    z-index: 0;
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, -2%, 0) scale3d(1, 1.5, 1);
  }
  100% {
    transform: translate3d(0, -3%, 0) scale3d(1, 0.7, 1);
  }
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(235%);
  }
}
/*SECTION LOADING-SPINNER*/
.loading-spinner {
  background: linear-gradient(180deg, #cbcbcb -1%, #eaeaea 7%);
  height: 100%;
  line-height: 650px;
  font-family: "Shrikhand", sans-serif;
  font-size: 230%;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10000;
  display: inline-block;
  transition: all 3s;
  animation: loader 0.01s 3s both;
}
@media screen and (max-width: 424px) {
  .loading-spinner {
    font-size: 230%;
    line-height: 600px;
  }
}
@media screen and (max-width: 374px) {
  .loading-spinner {
    font-size: 180%;
    line-height: 600px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .loading-spinner {
    font-size: 330%;
    line-height: 950px;
  }
}

.loader {
  /*animation de fondu vers le site après chargement*/
  display: inline;
  vertical-align: middle;
  color: black;
  position: relative;
  border: 5px solid #9356DC;
  border-radius: 50px;
  animation: fadeInAnimation 2.5s ease 1 forwards;
}
.loader:before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: #FF79DA;
  bottom: 0px;
  top: -5px;
  width: 24%;
  height: 100%;
  border-radius: 0px;
  left: 1%;
  right: 0%;
  animation: move 2s linear infinite;
}
.loader .point1 {
  animation: jump 1.25s linear alternate infinite;
}
.loader .point2 {
  animation: jump 1.7s linear alternate infinite;
}
.loader .point3 {
  animation: jump 1.95s linear alternate infinite;
}

.jump {
  transform-origin: 50% 50%;
  animation: jump 1s linear alternate infinite;
  display: inline-block;
  margin-right: -10px;
  font-size: 35px;
}
@media screen and (max-width: 374px) {
  .jump {
    margin-right: -5px;
    font-size: 25px;
  }
}

/*SECTION LOCATION*/
section.location {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  height: 270px;
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  section.location .textaccueil_h2 {
    font-size: 30px;
  }
}
section.location .textacceuil_p {
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 25px;
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  section.location .textacceuil_p {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  section.location {
    height: 300px;
    margin-bottom: 0;
    font-size: 17px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  section.location {
    height: 310px;
  }
}

/*SECTION DESCRIPTION*/
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}
.description nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .description nav {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .description ol {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .description ol {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .description ol {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .description ol {
    display: flex;
    justify-content: center;
  }
}
.description span {
  background-color: #9356DC;
  padding: 12px;
  border-radius: 50px;
  color: white;
  width: 2%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4%;
  position: absolute;
}
@media screen and (max-width: 424px) {
  .description span {
    margin-right: 325px;
  }
}
@media screen and (max-width: 374px) {
  .description span {
    padding: 10px;
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .description span {
    margin-left: -2%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .description span {
    margin-left: -2%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .description span {
    margin-left: -1.1%;
    width: 1%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .description span {
    margin-left: -0.8%;
    width: 1%;
  }
}
.description .fa-mobile-screen-button,
.description .fa-list,
.description .fa-store {
  margin-left: -50px;
  margin-right: -40px;
}
@media screen and (max-width: 424px) {
  .description .fa-mobile-screen-button,
.description .fa-list,
.description .fa-store {
    margin-left: -20px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 374px) {
  .description .fa-mobile-screen-button,
.description .fa-list,
.description .fa-store {
    margin-left: -13px;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .description .fa-mobile-screen-button,
.description .fa-list,
.description .fa-store {
    margin-left: 0;
    margin-right: 7px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .description .fa-mobile-screen-button,
.description .fa-list,
.description .fa-store {
    margin-left: 0;
    margin-right: 7px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .description .fa-mobile-screen-button,
.description .fa-list,
.description .fa-store {
    margin-left: 0;
    margin-right: 5px;
  }
}
.description .composez {
  margin-right: 5%;
}
.description .degustez {
  margin-right: 3%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .description {
    display: flex;
    align-items: inherit;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .description {
    display: flex;
    align-items: inherit;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .description {
    display: flex;
    align-items: inherit;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .description {
    display: flex;
    align-items: inherit;
  }
}

/*SECTION RESTAURANTS*/
.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0% 0% 0% 5%;
  position: absolute;
}
@media screen and (max-width: 424px) {
  .restaurants {
    margin: 0% 0% 0% 5%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants {
    justify-content: space-between;
    margin: 1% 24% 0 13%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .restaurants {
    justify-content: space-between;
    margin: 1% 22% 0 23%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants {
    justify-content: space-between;
    margin: 0% 30% 0 31%;
  }
}

.cartesrestaurants {
  width: 100%;
  margin-left: -20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .cartesrestaurants {
    width: 54%;
    margin-right: -2%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .cartesrestaurants {
    width: 45%;
    margin-right: -5%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .cartesrestaurants {
    width: 50%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .cartesrestaurants {
    width: 50%;
  }
}

.restaurants figure {
  background-color: white;
  border-radius: 20px;
  width: 90%;
  margin: 20px 20px;
}

.restaurants a {
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: -25px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants a {
    margin-bottom: -15px;
    width: 90%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants a {
    margin-bottom: 0;
    width: 132%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants a {
    margin-bottom: -10px;
  }
}

/*IMAGES CARTES RESTAUTANTS*/
.restaurants a img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 195px;
  object-position: 20% 104%;
}
@media screen and (max-width: 424px) {
  .restaurants a img {
    height: 175px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a img {
    height: 145px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants a img {
    height: 160px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants a img {
    height: 240px;
  }
}

.restaurants a.carte2restaurant img {
  object-position: 20% 61%;
}

.restaurants a figcaption {
  width: 90%;
  margin-left: 10px;
  height: 60px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
@media screen and (max-width: 424px) {
  .restaurants a figcaption {
    height: 60px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a figcaption {
    height: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants a figcaption {
    height: 60px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants a figcaption {
    height: 70px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .restaurants a figcaption {
    height: 75px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants a figcaption {
    height: 75px;
  }
}
.restaurants a figcaption .legende {
  width: 90%;
  font-size: 17px;
  margin-top: -5px;
}
@media screen and (max-width: 424px) {
  .restaurants a figcaption .legende {
    font-size: 15px;
    margin-left: 1px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a figcaption .legende {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants a figcaption .legende {
    font-size: 15px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants a figcaption .legende {
    font-size: 16px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants a figcaption .legende {
    margin: 5px 0 15px 5px;
    font-size: 20px;
  }
}
.restaurants a figcaption p {
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: -15px;
  font-size: 20px;
}
@media screen and (max-width: 424px) {
  .restaurants a figcaption p {
    font-size: 18px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a figcaption p {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants a figcaption p {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants a figcaption p {
    font-size: 19px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants a figcaption p {
    font-size: 24px;
  }
}

/*TRANSITION COEUR*/
.btncoeur {
  border: transparent;
  background: transparent;
  height: 24px;
  width: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 7%;
  cursor: pointer;
  margin-left: 78%;
  z-index: 3;
  margin-top: -17%;
}
@media screen and (max-width: 374px) {
  .btncoeur {
    margin-top: -18%;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .btncoeur {
    margin-top: -11%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btncoeur {
    margin-top: -16%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .btncoeur {
    margin-top: -27%;
  }
}
@media screen and (min-width: 1120px) and (max-width: 1438px) {
  .btncoeur {
    margin-top: -23%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .btncoeur {
    margin-top: -20%;
  }
}
@media screen and (min-width: 1844px) and (max-width: 2559px) {
  .btncoeur {
    margin-top: -15%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .btncoeur {
    height: 32px;
    width: 32px;
  }
}

.coeur {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 8%;
}
@media screen and (max-width: 424px) {
  .coeur {
    margin-bottom: 6%;
  }
}
@media screen and (max-width: 374px) {
  .coeur {
    height: 22px;
    width: 22px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .coeur {
    margin-bottom: 7%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .coeur {
    margin-left: 67%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .coeur {
    margin-bottom: 15%;
    margin-left: 100%;
    font-size: 23px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .coeur {
    font-size: 25px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .coeur {
    height: 32px;
    width: 32px;
  }
}

.coeur::before {
  opacity: 0;
  transition: 1.5s;
  content: "";
  background: linear-gradient(356deg, #9356dc, #ff79da);
}

.coeur:hover::before {
  opacity: 1;
}

.coeur:active::before {
  opacity: 1;
}

.coeur:before,
.coeurplein,
.coeurvide {
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
}

.coeurplein,
.coeurvide {
  transition-duration: 1.5s;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
  font-size: 27px;
}

.coeurvide:hover {
  opacity: 0;
}

.fond_coeur {
  background-color: #fff !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

main li {
  text-decoration: none;
  display: flex;
  margin-bottom: 8%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  main li {
    margin-right: 30px;
    margin-bottom: 5%;
    margin-left: 1%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  main li {
    margin-right: 30px;
    margin-bottom: 5%;
    margin-left: 1%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  main li {
    margin-right: 25px;
    margin-bottom: 5%;
    margin-left: 1%;
  }
}

a {
  text-decoration: none;
  display: flex;
}
ahover {
  cursor: pointer;
}

.evenement {
  position: absolute;
  height: 20px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: rgba(29, 130, 105, 0.8117647059);
  font-weight: bold;
  border-radius: 2px;
  font-size: 13px;
  margin: 40px 60px 0 0;
}
@media screen and (max-width: 424px) {
  .evenement {
    width: 65px;
    font-size: 12px;
  }
}
@media screen and (max-width: 374px) {
  .evenement {
    font-size: 10px;
    margin: 33px 40px 0 0;
    width: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .evenement {
    margin-top: 32px;
    font-size: 13px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .evenement {
    font-size: 15px;
    margin: 54px 35px 0 0;
    height: 25px;
    width: 75px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .evenement {
    font-size: 15px;
    margin: 47px 40px 0 0;
    height: 25px;
    width: 80px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .evenement {
    margin: 52px 50px 0 0;
    font-size: 18px;
    height: 25px;
    width: 95px;
  }
}

.Titrepages {
  font-family: "Shrikhand", sans-serif;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  border-radius: 50px 50px 0 0px;
  margin-top: -65px;
  position: absolute;
  width: 100%;
  margin-left: 0;
  padding-right: 45px;
  padding-left: 13px;
}
.Titrepages .fa-heart {
  height: 1.5rem;
  margin-top: -0.6rem;
  margin-right: 0;
}
@media screen and (max-width: 424px) {
  .Titrepages {
    width: 100%;
    font-size: 18px;
    margin-top: -60px;
  }
  .Titrepages .fa-heart {
    margin-top: -0.7rem;
    margin-right: -0.2rem;
  }
}
@media screen and (max-width: 374px) {
  .Titrepages {
    font-size: 15.5px;
    margin-top: -50px;
  }
  .Titrepages .fa-heart {
    margin-right: -0.8rem;
    height: 1.2rem;
    margin-top: -0.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .Titrepages {
    font-size: 22px;
    padding-right: 20%;
    padding-left: 19%;
  }
  .Titrepages .fa-heart {
    height: 2rem;
    margin-top: -0.6rem;
    margin-right: 0rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .Titrepages {
    font-size: 17px;
    margin-top: -47px;
    padding-right: 0.7%;
    padding-left: 1.3%;
  }
  .Titrepages .fa-heart {
    height: 1.5rem;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .Titrepages {
    font-size: 23px;
    margin-top: -68px;
    padding-right: 0;
    padding-left: 1.5%;
  }
  .Titrepages .fa-heart {
    height: 2rem;
    margin-right: 4rem;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .Titrepages {
    font-size: 40px;
    margin-top: -98px;
    padding-right: 2.7%;
    padding-left: 2.5%;
  }
  .Titrepages .fa-heart {
    height: 3.5rem;
    margin-right: -2rem;
  }
}

.titre_Titrepages {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.choixrestaurants {
  background-color: #F6F6F6;
  display: flow-root;
  height: auto;
  flex-direction: column;
  justify-content: center;
  height: 1250px;
}
@media screen and (max-width: 424px) {
  .choixrestaurants {
    height: 1180px;
  }
}
@media screen and (max-width: 374px) {
  .choixrestaurants {
    height: 980px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .choixrestaurants {
    display: flow-root;
    height: 640px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .choixrestaurants {
    display: flow-root;
    height: 730px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .choixrestaurants {
    display: flow-root;
    height: 730px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .choixrestaurants {
    display: flow-root;
    height: 810px;
  }
}

.titreacceuil {
  font-size: 23px;
  margin-left: 5%;
  margin-top: 40px;
}
@media screen and (max-width: 374px) {
  .titreacceuil {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titreacceuil {
    font-size: 25px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .titreacceuil {
    margin-left: 13%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .titreacceuil {
    margin-left: 23.2%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .titreacceuil {
    margin-left: 31.5%;
  }
}

.menus {
  background-color: #F6F6F6;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 424px) {
  .menus {
    margin-top: 20px;
  }
}
@media screen and (max-width: 374px) {
  .menus {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menus {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: grid;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .menus {
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .menus {
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .menus {
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  .menus_alignitem {
    align-items: baseline;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .menus_alignitem {
    align-items: baseline;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .menus_alignitem {
    align-items: baseline;
  }
}

.titremenus { /*h3*/
  margin-left: 15px;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  width: 9%;
  padding-bottom: 5px;
  font-size: 17.5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titremenus {
    width: 12.5%;
    margin-left: -10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .titremenus {
    width: 12.5%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .titremenus {
    font-size: 17px;
    width: 12%;
    margin-left: 23px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .titremenus {
    font-size: 30px;
    width: 14%;
  }
}

.plat_alafracaise {
  padding-bottom: 0px;
}

.entrees {
  display: flex;
  flex-direction: column;
  animation: slidein-L 2s linear;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .entrees {
    margin-right: 3%;
    margin-left: 0%;
    animation: slidein-L 1.5s linear;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .entrees {
    margin-right: -6%;
    animation: slidein-L 1.5s linear;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .entrees {
    margin-right: -3%;
    margin-left: 2%;
    animation: slidein-L 1.5s linear;
  }
}
.entrees::after {
  content: "";
  visibility: visible;
}

.plats {
  display: flex;
  flex-direction: column;
  animation: slidein-R 4s linear;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .plats {
    margin-right: 3%;
    margin-left: 0%;
    animation: slidein-R 3s linear;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .plats {
    margin-right: 0%;
    margin-left: 7.5%;
    animation: slidein-R 3s linear;
    margin-top: -11px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .plats {
    margin-right: 9%;
    margin-left: 4.5%;
    animation: slidein-R 3s linear;
  }
}

.desserts {
  display: flex;
  flex-direction: column;
  animation: slidein-L 6s linear;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .desserts {
    margin-left: 0%;
    margin-right: 5%;
    animation: slidein-R 4.5s linear;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .desserts {
    margin-left: 1.4%;
    margin-right: 7%;
    animation: slidein-R 4.5s linear;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .desserts {
    margin-left: -6.8%;
    animation: slidein-R 4.5s linear;
    margin-right: 9%;
  }
}

.button {
  background-color: white;
  display: flex;
  border-color: transparent;
  border-radius: 20px;
  margin: 10px 0px 10px 10px;
  overflow: hidden;
  cursor: pointer;
  max-width: 93%;
  padding: 0.5%;
  /*MEDIA QUERIES ARTICLE CLASS="BUTTON"*/
}
.button .legende {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  padding-left: 5px;
}
.button .legende .titre_plat { /*h4*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .button .legende .titre_plat {
    font-size: 16px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .button .legende .titre_plat {
    font-size: 25px;
  }
}
.button .legende .titre_plat_SJ {
  margin-top: -7px;
  padding-top: 29px;
}
.button .legende .titre_plat_PHP {
  margin-top: -24px;
  padding-top: 34px;
  margin-bottom: 21px;
}
.button .legende .garniture_plat { /*p*/
  margin-top: -12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 17.5px;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .button .legende .garniture_plat {
    font-size: 13.5px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .button .legende .garniture_plat {
    font-size: 21.5px;
  }
}
.button .legende .garniture_plat.stjacques {
  margin-top: -7px;
}
.button .legende .garniture_plat.myrtilles {
  font-size: 15.5px;
}
.button .legende .garniture_plat.pouletHP {
  margin-top: -13px;
}
.button .prix {
  display: flex;
  margin-right: 25px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 17.5px;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .button .prix {
    margin-bottom: 16px;
    font-size: 14.5px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .button .prix {
    margin-bottom: 24px;
    font-size: 24.5px;
  }
}
.button .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px -95px -10px 0px;
  width: 85px;
  background-color: #99E2D0;
  transition: 0.5s ease-in;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .button .checkbox {
    margin-right: -21%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .button .checkbox {
    margin-right: -35%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .button .checkbox {
    margin-right: -26%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .button .checkbox {
    margin-right: -15%;
    width: 100px;
  }
}
.button .iconebackground {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  font-size: 18px;
}
.button .iconecheck {
  color: #99E2D0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .button {
    margin: 10px -15px 10px -15px;
    width: 114%;
    max-width: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .button {
    margin: 10px -87px 10px 12px;
    width: 95%;
    max-width: none;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .button {
    margin: 10px -100px 10px 19px;
    width: 108%;
    max-width: none;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .button {
    margin: 10px 0px 10px 7px;
    width: 137%;
    max-width: none;
  }
}

@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .button:hover .checkbox {
    margin-right: -1%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .button:hover .checkbox {
    margin-right: -1%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .button:hover .checkbox {
    margin-right: -1%;
  }
}

.button:hover .iconecheck {
  animation: check 1s linear;
}

.button:active .checkbox {
  margin-right: -5px;
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  article.button.buttonmarginwidth {
    margin: 10px -35px 12px 12px;
    width: 96%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  article.button.buttonmarginwidth {
    margin: 10px -35px 12px 12px;
    width: 109%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  article.button.buttonmarginwidth {
    margin: 10px 21px 12px 12px;
    width: 136%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  .buttondessertdds {
    margin-right: -48px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .buttondessertdds {
    margin-right: -15px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .buttondessertdds {
    margin-right: 53px;
  }
}

.commander {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  background-color: #F6F6F6;
  height: 150px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .commander {
    height: 200px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .commander {
    height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
