@import "../utils/variables";
@import "../utils/mixins";

.btn {
    @include button;
    
    @include padding-button();
    transition: opacity .5s ease-in-out;
    transition: box-shadow .5s;
    &:hover{
        @include hover-btn-accueil-menus;
       
    }
 
}
.btncommander{
    @include button;
    transition: opacity .5s ease-in-out;
    transition: box-shadow .5s ease-in-out;
    &:hover{
        @include hover-btn-accueil-menus;
        
    }
    @include padding-button(15px 50px);
    @include tablette{
        font-size: 16px;
        @include padding-button(18px 60px)
    }
    @include desktop-S{
        font-size: 17px;
        padding: 15px 55px;
    }
    @include desktop-M{
        font-size: 22px;
        padding: 17px 60px;
    }
    @include desktop-L{
        font-size: 25px;
        padding: 20px 65px;
    }
    
}

.btnfonctionnement{
    background-color: $color-background;
    border: 1px solid $color-background;
    padding: 20px;
    width: 370px;
    border-radius: 25px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -5px;
    height: 80px;
    font-weight: 400;
    box-shadow: $shadow;
    transition: background-color .3s;
    transition: box-shadow .3s;
    &:hover{
        @include hover-description-btn-icn;
        
    }

    @include mobile-Medium-screen{
        width: 320px;
    }
    @include mobile-Small-screen{
        width: 270px;
        font-size: 15px;
        height: 65px;
    }
   
    @include desktop-S{
        width: 230px;
        font-size: 14px;
    }
    @include desktop-M{
        width: 230px;
        font-size: 14px;
    }
    @include desktop-L{
        width: 295px;
        font-size: 14px;
    }
    
}
.btn-fleche-retour{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: -93px;
    cursor: pointer;
    @include mobile-Medium-screen{
        margin-left: -87px;
        font-size: 19px;
    }
    @include mobile-Small-screen{
        margin-left: -58px;
        font-size: 18px;
    
}
    @include tablette{
        
        font-size: 25px;
    }
    @include desktop-S{
        font-size: 23px;
        
    }
    @include desktop-M{
        font-size: 28px;
        
    }
    @include desktop-L{
        font-size: 45px;
        
    }
}





