body .btn {
    border-radius: 50px;
    background-color: #9356DC;
    color: white;
    padding: 10px 15px;
    border-color: transparent;
}
.btnacceuil{
    background-color: #F6F6F6;
    border: 1px solid#F6F6F6;
    padding: 25px;
    width: 380px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-right: -100px;
    margin-left: -20px;
}