@import "../utils/variables";
@import "../utils/mixins";

.btn {
    border-radius: 50px;
    background: $color-background-btn;
    padding: 20px 20px;
    border:transparent;
    display: flex;
    align-items: center;
    font-size:$font-size-body;
    color: white;
    opacity: 0.8;
    font-weight: 500;
    font-size: 20px;
}
.btnfonctionnement{
    background-color:$color-background;
    border: 1px solid $color-background;
    padding: 25px;
    width: 380px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: -100px;
    margin-left: -20px;
    height: 80px;
}
.btnflecheretour{
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;
    margin-left: -92px;
}
.menus button{
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-color:transparent;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    
}

