@import "../utils/mixins";
@import "../utils/variables";

.imgrestaurant{
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: 48%;
    margin-left: 0.5px;
    @include mobile-Medium-screen{
        width: 100%;
        object-position: 63%;
        height: 280px;
      }
    
    @include mobile-Small-screen{
        width: 100%;
        height: 235px;
        object-position: 50%;
    }
    @include tablette{
        height: 470px;
        object-position: 50% 8%;
    }
    @include desktop-L{
        width: 30%;
        height: 500px;
        margin-left: 35%;
    }
}
.img-noteenchantee{
    @include tablette{
        object-position: 50% 48%;
    }
}


