@import "../utils/mixins";
@import "../utils/variables";

.imgrestaurant{
    width: 99.9%;
    height: 310px;
    object-fit: cover;
    object-position: 48%;
    margin-left: 0.5px;
    @include mobile-Medium-screen{
        
        object-position: 63%;
        height: 280px;
      }
    
    @include mobile-Small-screen{
       
        height: 235px;
        object-position: 50%;
    }
    @include tablette{
        height: 470px;
        object-position: 50% 8%;
    }
    @include desktop-S{
        
        height: 350px;
        object-position: 40% 58%;
    }
    @include desktop-M{
       
        height: 450px;
        object-position: 40% 58%;
    }
    @include desktop-L{
       
        height: 600px;
        object-position: 40% 58%;
    }
}
.img-noteenchantee{
    @include tablette{
        object-position: 50% 48%;
    }
}


