.imgrestaurant {
  width: 100%;
  height: 310px;
  object-fit: cover;
  object-position: 48%;
  margin-left: 0.5px;
}
@media screen and (max-width: 424px) {
  .imgrestaurant {
    width: 100%;
    object-position: 63%;
    height: 280px;
  }
}
@media screen and (max-width: 374px) {
  .imgrestaurant {
    width: 100%;
    height: 235px;
    object-position: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .imgrestaurant {
    height: 470px;
    object-position: 50% 8%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .imgrestaurant {
    width: 34%;
    height: 250px;
    margin-left: 33%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .imgrestaurant {
    width: 34%;
    height: 350px;
    margin-left: 33%;
    object-position: 40%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .imgrestaurant {
    width: 30%;
    height: 500px;
    margin-left: 35%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .img-noteenchantee {
    object-position: 50% 48%;
  }
}

.btn {
  font-size: 16px;
  text-align-items: center;
  text-font-weight: 500;
  border-radius: 50px;
  margin-bottom: 50px;
  background: linear-gradient(356deg, #9356DC, #FF79DA);
  border: transparent;
  display: flex;
  opacity: 0.8;
  color: white;
  box-shadow: 0px 8px 10px -5px grey;
  cursor: pointer;
  padding: 15px 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btn {
    font-size: 23px;
  }
}

.btncommander {
  font-size: 16px;
  text-align-items: center;
  text-font-weight: 500;
  border-radius: 50px;
  margin-bottom: 50px;
  background: linear-gradient(356deg, #9356DC, #FF79DA);
  border: transparent;
  display: flex;
  opacity: 0.8;
  color: white;
  box-shadow: 0px 8px 10px -5px grey;
  cursor: pointer;
  padding: 15px 50px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btncommander {
    font-size: 23px;
    padding: 20px 60px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .btncommander {
    font-size: 17px;
    padding: 15px 55px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .btncommander {
    font-size: 22px;
    padding: 17px 60px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .btncommander {
    font-size: 25px;
    padding: 20px 65px;
  }
}

.btnfonctionnement {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  padding: 20px;
  width: 370px;
  border-radius: 25px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -5px;
  height: 80px;
  font-weight: 400;
  box-shadow: 0px 2px 5px 2px #eaeaea;
}
.btnfonctionnement:hover {
  background: #f2eafb;
  border: none;
  box-shadow: 5px 4px 10px 4px #eaeaea;
}
@media screen and (max-width: 424px) {
  .btnfonctionnement {
    width: 320px;
  }
}
@media screen and (max-width: 374px) {
  .btnfonctionnement {
    width: 270px;
    font-size: 15px;
    height: 65px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btnfonctionnement {
    width: 430px;
    font-size: 23px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .btnfonctionnement {
    width: 230px;
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .btnfonctionnement {
    width: 230px;
    font-size: 15px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .btnfonctionnement {
    width: 295px;
    font-size: 15px;
  }
}

.btnflecheretour {
  border-color: transparent;
  background-color: transparent;
  font-size: 20px;
  margin-left: -105px;
  cursor: pointer;
}
@media screen and (max-width: 424px) {
  .btnflecheretour {
    margin-left: -90px;
    font-size: 19px;
  }
}
@media screen and (max-width: 374px) {
  .btnflecheretour {
    margin-left: -73px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btnflecheretour {
    margin-left: -200px;
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .btnflecheretour {
    font-size: 16px;
    margin-left: -80px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .btnflecheretour {
    font-size: 28px;
    margin-left: -116px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .btnflecheretour {
    font-size: 30px;
    margin-left: -205px;
  }
}

.menus button {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
  border-radius: 20px;
  margin: 10px 0px 10px 17px;
  width: 93%;
  cursor: pointer;
}
@media screen and (max-width: 424px) {
  .menus button {
    width: 92%;
  }
}
@media screen and (max-width: 374px) {
  .menus button {
    width: 91%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menus button {
    margin: 10px 0px 10px 14px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .menus button {
    margin: 10px 0 30px 17px;
    width: 105%;
    padding: 3% 1% 3% 0;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .menus button {
    margin: 10px 0 30px 17px;
    width: 120%;
    padding: 5% 1% 5% 0;
    justify-content: center;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .menus button {
    margin: 10px 0 30px 17px;
    width: 150%;
    padding: 5% 1% 5% 1%;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  button.buttonpadding {
    padding: 0.4%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  button.buttonpadding {
    padding: 2%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  button.buttonpadding {
    padding: 2.5%;
  }
}

#btnheart {
  border: none;
  background: none;
  cursor: pointer;
}

.flechelogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .flechelogo {
    height: 80px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .flechelogo {
    height: 50px;
  }
}

.titreheader {
  font-size: 32px;
  font-family: "Shrikhand", sans-serif;
  margin-top: 0px;
  height: 20px;
  text-align: center;
}
@media screen and (max-width: 424px) {
  .titreheader {
    font-size: 31px;
  }
}
@media screen and (max-width: 374px) {
  .titreheader {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titreheader {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .titreheader {
    font-size: 28px;
    height: 26px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .titreheader {
    font-size: 35px;
    height: 30px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .titreheader {
    font-size: 40px;
    height: 30px;
  }
}

svg.svg-inline--fa.fa-arrow-left {
  display: flex;
  justify-content: flex-start;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1px 30px;
}
footer nav {
  margin-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer nav {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer nav {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 0;
  }
}
footer .textfooter {
  color: white;
  font-family: "Shrikhand", sans-serif;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer .textfooter {
    margin-left: 70px;
    margin-bottom: 0;
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer .textfooter {
    margin-bottom: 0;
    font-size: 23px;
    margin-left: 6%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  footer .textfooter {
    margin-left: 23%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  footer .textfooter {
    margin-left: 32%;
    font-size: 30px;
  }
}
footer ul {
  list-style: none;
  margin-left: -40px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
footer li {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer li {
    margin-right: 40px;
    font-size: 11px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer li {
    margin-right: 70px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  footer li {
    margin-right: 54px;
    font-size: 16px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  footer li {
    margin-right: 86px;
    font-size: 18px;
  }
}
footer .fa-utensils {
  margin-right: 10px;
}
footer .fa-handshake-angle {
  margin-right: 4px;
}
footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  footer {
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  footer {
    justify-content: center;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  footer {
    justify-content: center;
    height: 250px;
    padding: 40px 30px;
  }
}

.form {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  background: linear-gradient(180deg, #cbcbcb -1%, #eaeaea 7%);
  text-align: center;
}
.form .formtext {
  margin-right: 25px;
  font-size: 15px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .form .formtext {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .form .formtext {
    font-size: 18px;
  }
}
.form .iconegeo {
  margin-right: 20px;
  font-size: 16px;
}
@media screen and (max-width: 424px) {
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 374px) {
  .form {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .form {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .form {
    width: 100%;
  }
}

body .description nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section.location {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  height: 270px;
}
section.location .textacceuil {
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  section.location {
    height: 330px;
    margin-bottom: 0;
    font-size: 20px;
  }
}

.description {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .description ol {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .description ol {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .description ol {
    display: flex;
    justify-content: center;
  }
}
.description span {
  background-color: #9356DC;
  padding: 12px;
  border-radius: 50px;
  color: white;
  width: 2%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 375px;
  position: absolute;
}
@media screen and (max-width: 424px) {
  .description span {
    margin-right: 325px;
  }
}
@media screen and (max-width: 374px) {
  .description span {
    margin-right: 275px;
    padding: 10px;
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .description span {
    font-size: 20px;
    padding: 14px;
    margin-right: 435px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .description span {
    margin-right: 235px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .description span {
    margin-right: 235px;
    width: 1%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .description span {
    margin-right: 300px;
    width: 1%;
  }
}
.description .fa-mobile-screen-button, .description .fa-list, .description .fa-store {
  margin-left: -50px;
  margin-right: -40px;
}
@media screen and (max-width: 424px) {
  .description .fa-mobile-screen-button, .description .fa-list, .description .fa-store {
    margin-left: -20px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 374px) {
  .description .fa-mobile-screen-button, .description .fa-list, .description .fa-store {
    margin-left: -13px;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .description .fa-mobile-screen-button, .description .fa-list, .description .fa-store {
    margin-left: 0;
    margin-right: 7px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .description .fa-mobile-screen-button, .description .fa-list, .description .fa-store {
    margin-left: 0;
    margin-right: 7px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .description .fa-mobile-screen-button, .description .fa-list, .description .fa-store {
    margin-left: 0;
    margin-right: 5px;
  }
}
.description .fa-mobile-screen-button:hover, .description .fa-list:hover, .description .fa-store:hover {
  color: #9356DC;
}
.description .composez {
  margin-right: 5%;
}
.description .degustez {
  margin-right: 3%;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .description {
    display: flex;
    align-items: inherit;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .description {
    display: flex;
    align-items: inherit;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .description {
    display: flex;
    align-items: inherit;
  }
}

.restaurants figure {
  background-color: white;
  border-radius: 20px;
  width: 90%;
  margin: 20px 20px;
}

.restaurants a {
  justify-content: right;
  margin-bottom: -25px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants a {
    margin-bottom: -10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants a {
    margin-bottom: 0;
    width: 49%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants a {
    margin-bottom: -10px;
  }
}

.restaurants a img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 190px;
  object-position: 20% 104%;
}
@media screen and (max-width: 424px) {
  .restaurants a img {
    height: 170px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a img {
    height: 145px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants a img {
    height: 245px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants a img {
    height: 230px;
  }
}

.restaurants a.carte2restaurant img {
  object-position: 20% 61%;
}

.restaurants a figcaption {
  width: 90%;
  margin-left: 10px;
  height: 70px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
@media screen and (max-width: 424px) {
  .restaurants a figcaption {
    height: 60px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a figcaption {
    height: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants a figcaption {
    height: 100px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants a figcaption {
    height: 80px;
  }
}
.restaurants a figcaption p {
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: -15px;
}
.restaurants a figcaption .coeur {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.restaurants a figcaption .coeur .fa-heart {
  height: 2rem;
  margin-top: -1.2rem;
}
@media screen and (max-width: 424px) {
  .restaurants a figcaption .coeur .fa-heart {
    height: 1.6rem;
    margin-top: -1rem;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a figcaption .coeur .fa-heart {
    height: 1.3rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants a figcaption .coeur .fa-heart {
    height: 2.2rem;
  }
}
.restaurants a figcaption .legende {
  width: 90%;
  font-size: 17px;
  margin-top: -5px;
}
@media screen and (max-width: 424px) {
  .restaurants a figcaption .legende {
    font-size: 15px;
    margin-left: 1px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a figcaption .legende {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants a figcaption .legende {
    font-size: 23px;
  }
  .restaurants a figcaption .legende p {
    font-size: 27px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants a figcaption .legende {
    font-size: 16px;
  }
  .restaurants a figcaption .legende p {
    font-size: 19.5px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants a figcaption .legende {
    margin: 5px 0 15px 5px;
    font-size: 20px;
  }
  .restaurants a figcaption .legende p {
    font-size: 23px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

main li {
  text-decoration: none;
  display: flex;
  margin-bottom: 8%;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  main li {
    margin-right: 30px;
    margin-bottom: 5%;
    margin-left: 1%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  main li {
    margin-right: 30px;
    margin-bottom: 5%;
    margin-left: 1%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  main li {
    margin-right: 25px;
    margin-bottom: 5%;
    margin-left: 1%;
  }
}

a {
  text-decoration: none;
  display: flex;
}
ahover {
  cursor: pointer;
}

.evenement {
  position: absolute;
  padding: 7px 13px;
  background-color: #99E2D0;
  color: rgba(29, 130, 105, 0.8117647059);
  font-weight: bold;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 32px;
  margin-right: 41px;
}
@media screen and (max-width: 424px) {
  .evenement {
    padding: 5px 8px;
    margin-top: 34px;
    font-size: 13px;
  }
}
@media screen and (max-width: 374px) {
  .evenement {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .evenement {
    margin-top: 41px;
    margin-right: 65px;
    padding: 9px 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .evenement {
    font-size: 11px;
    margin-top: 39px;
    margin-right: 46px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .evenement {
    padding: 5px 10px;
    margin-top: 39px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .evenement {
    padding: 5px 13px;
    margin-top: 43px;
    margin-right: 62px;
  }
}

.Titrepages {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  border-radius: 50px 50px 0 0px;
  margin-top: -65px;
  position: absolute;
  width: 100%;
  margin-left: 0;
  padding-right: 45px;
  padding-left: 20px;
}
.Titrepages .fa-heart {
  height: 1.5rem;
  margin-top: -0.6rem;
  margin-right: 0;
}
@media screen and (max-width: 424px) {
  .Titrepages {
    width: 100%;
    font-size: 18px;
    margin-top: -60px;
  }
  .Titrepages .fa-heart {
    margin-top: -0.7rem;
    margin-right: -0.2rem;
  }
}
@media screen and (max-width: 374px) {
  .Titrepages {
    font-size: 15.5px;
    margin-top: -50px;
  }
  .Titrepages .fa-heart {
    margin-right: -0.8rem;
    height: 1.2rem;
    margin-top: -0.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .Titrepages {
    font-size: 36px;
    padding-right: 50px;
    padding-left: 25px;
  }
  .Titrepages .fa-heart {
    height: 3rem;
    margin-top: -0.6rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .Titrepages {
    font-size: 16px;
    margin-top: -47px;
    padding-right: 0.7%;
    padding-left: 2.3%;
    margin-left: 32.5%;
    margin-right: 22%;
    width: 35%;
  }
  .Titrepages .fa-heart {
    height: 1.5rem;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .Titrepages {
    font-size: 23px;
    margin-top: -68px;
    padding-right: 0;
    padding-left: 1.5%;
    margin-left: 32.9%;
    margin-right: 23%;
    width: 34.3%;
  }
  .Titrepages .fa-heart {
    height: 2rem;
    margin-right: 4rem;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .Titrepages {
    font-size: 37px;
    margin-top: -98px;
    padding-right: 2.7%;
    padding-left: 1%;
    margin-left: 35%;
    margin-right: 22%;
    width: 30%;
  }
  .Titrepages .fa-heart {
    height: 2.5rem;
    margin-right: 1rem;
  }
}

.choixrestaurants {
  background-color: #F6F6F6;
  display: grid;
  height: auto;
  flex-direction: column;
  justify-content: center;
  height: 1220px;
}
@media screen and (max-width: 424px) {
  .choixrestaurants {
    height: 1100px;
  }
}
@media screen and (max-width: 374px) {
  .choixrestaurants {
    height: 950px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .choixrestaurants {
    height: 1650px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .choixrestaurants {
    display: flow-root;
    height: 730px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .choixrestaurants {
    display: flow-root;
    height: 730px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .choixrestaurants {
    display: flow-root;
    height: 810px;
  }
}

.titreacceuil {
  font-size: 20px;
  margin-left: 5%;
  margin-top: 40px;
}
@media screen and (max-width: 424px) {
  .titreacceuil {
    font-size: 23px;
  }
}
@media screen and (max-width: 374px) {
  .titreacceuil {
    margin-left: 7%;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titreacceuil {
    font-size: 29px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .titreacceuil {
    margin-left: 13%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .titreacceuil {
    margin-left: 23.2%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .titreacceuil {
    margin-left: 31.5%;
  }
}

.restaurants {
  margin-top: -50px;
}
@media screen and (max-width: 424px) {
  .restaurants {
    margin-top: -60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants {
    margin-top: -30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% 10%;
    position: absolute;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% 20%;
    position: absolute;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% 30%;
    position: absolute;
  }
}

.menus {
  background-color: #F6F6F6;
  margin-top: 25px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 424px) {
  .menus {
    margin-top: 20px;
  }
}
@media screen and (max-width: 374px) {
  .menus {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menus {
    margin-top: 100px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .menus {
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .menus {
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .menus {
    flex-direction: row;
    margin-top: 60px;
  }
}

.entrees {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .entrees {
    margin-right: 3%;
    margin-left: 0%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .entrees {
    margin-right: -6%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .entrees {
    margin-right: 10%;
    margin-left: 2%;
  }
}

.plats {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .plats {
    margin-right: 3%;
    margin-left: 0%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .plats {
    margin-right: 0%;
    margin-left: 7.5%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .plats {
    margin-right: 12%;
    margin-left: 4.5%;
  }
}

.desserts {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .desserts {
    margin-left: 0%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .desserts {
    margin-left: 1.4%;
    margin-right: 7%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .desserts {
    margin-left: 2.2%;
  }
}

article h2 {
  margin-left: 25px;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  width: 9%;
  padding-bottom: 5px;
  font-size: 15px;
}
@media screen and (max-width: 424px) {
  article h2 {
    margin-left: 20px;
  }
}
@media screen and (max-width: 374px) {
  article h2 {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  article h2 {
    font-size: 23px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  article h2 {
    font-size: 13px;
    width: 7%;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  article h2 {
    font-size: 25px;
    width: 13%;
  }
}

.legende {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: left;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 424px) {
  .legende {
    font-size: 14px;
  }
}
@media screen and (max-width: 374px) {
  .legende {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .legende {
    font-size: 23px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .legende {
    margin-left: 4px;
    margin-right: 0;
    font-size: 12.5px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .legende {
    margin-right: 16%;
    font-size: 16px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .legende {
    margin-left: -14px;
    margin-right: 0;
    font-size: 21px;
  }
}

.legende p {
  margin-bottom: 0px;
  margin-top: -12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 310px;
  font-size: 16.5px;
}
@media screen and (max-width: 424px) {
  .legende p {
    width: 265px;
    font-size: 14.3px;
  }
}
@media screen and (max-width: 374px) {
  .legende p {
    width: 227px;
    font-size: 12.3px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .legende p {
    width: 442px;
    font-size: 23.5px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .legende p {
    width: 226px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .legende p {
    width: 300px;
    font-size: 15.4px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .legende p {
    width: 405px;
    font-size: 21.5px;
  }
}

.desserts .legende p {
  font-size: 16.1px;
}
@media screen and (max-width: 424px) {
  .desserts .legende p {
    font-size: 14px;
  }
}
@media screen and (max-width: 374px) {
  .desserts .legende p {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .desserts .legende p {
    font-size: 23.1px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .desserts .legende p {
    font-size: 12.5px;
    width: 258px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .desserts .legende p {
    font-size: 16px;
    width: 328px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .desserts .legende p {
    font-size: 21.2px;
  }
}

.legende p.myrtilles {
  font-size: 17.8px;
}
@media screen and (max-width: 424px) {
  .legende p.myrtilles {
    font-size: 15.5px;
  }
}
@media screen and (max-width: 374px) {
  .legende p.myrtilles {
    font-size: 13.5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .legende p.myrtilles {
    font-size: 25.8px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .legende p.myrtilles {
    font-size: 13.8px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2559px) {
  .legende p.myrtilles {
    font-size: 18.8px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .legende p.myrtilles {
    font-size: 23.8px;
  }
}

.noteenchantee p {
  font-size: 16px;
}
@media screen and (max-width: 424px) {
  .noteenchantee p {
    font-size: 14px;
  }
}
@media screen and (max-width: 374px) {
  .noteenchantee p {
    font-size: 12.3px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .noteenchantee p {
    font-size: 23px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .noteenchantee p {
    font-size: 12.5px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .noteenchantee p {
    font-size: 21px;
  }
}

.prix {
  margin-right: 20px;
  margin-bottom: -30px;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 424px) {
  .prix {
    font-size: 15px;
    margin-bottom: -20px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 374px) {
  .prix {
    font-size: 13px;
    margin-bottom: -10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .prix {
    font-size: 22px;
    margin-bottom: -55px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .prix {
    font-size: 13px;
    margin-left: 5%;
    margin-bottom: -20px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .prix {
    font-size: 25px;
    margin-left: 30%;
  }
}

.commander {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  background-color: #F6F6F6;
  height: 150px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .commander {
    height: 200px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .commander {
    height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
