.imgrestaurant {
  width: 100%;
  height: 310px;
  object-fit: cover;
  object-position: 48%;
  margin-left: 0.5px;
}
@media screen and (max-width: 424px) {
  .imgrestaurant {
    width: 100%;
    object-position: 63%;
    height: 280px;
  }
}
@media screen and (max-width: 374px) {
  .imgrestaurant {
    width: 100%;
    height: 235px;
    object-position: 50%;
  }
}

.btn {
  font-size: 16px;
  text-align-items: center;
  text-font-weight: 500;
  border-radius: 50px;
  margin-bottom: 50px;
  background: linear-gradient(356deg, #9356DC, #FF79DA);
  border: transparent;
  display: flex;
  opacity: 0.8;
  color: white;
  box-shadow: 0px 8px 10px -5px grey;
  cursor: pointer;
  padding: 15px 20px;
}

.btncommander {
  font-size: 16px;
  text-align-items: center;
  text-font-weight: 500;
  border-radius: 50px;
  margin-bottom: 50px;
  background: linear-gradient(356deg, #9356DC, #FF79DA);
  border: transparent;
  display: flex;
  opacity: 0.8;
  color: white;
  box-shadow: 0px 8px 10px -5px grey;
  cursor: pointer;
  padding: 15px 50px;
}

.btnfonctionnement {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  padding: 20px;
  width: 370px;
  border-radius: 25px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -5px;
  height: 80px;
  font-weight: 400;
  box-shadow: 0px 2px 5px 2px #eaeaea;
}
.btnfonctionnement:hover {
  background: #f2eafb;
  border: none;
  box-shadow: 5px 4px 10px 4px #eaeaea;
}
@media screen and (max-width: 424px) {
  .btnfonctionnement {
    width: 320px;
  }
}
@media screen and (max-width: 374px) {
  .btnfonctionnement {
    width: 270px;
    font-size: 15px;
    height: 65px;
  }
}

.btnflecheretour {
  border-color: transparent;
  background-color: transparent;
  font-size: 20px;
  margin-left: -105px;
  cursor: pointer;
}
@media screen and (max-width: 424px) {
  .btnflecheretour {
    margin-left: -90px;
    font-size: 19px;
  }
}
@media screen and (max-width: 374px) {
  .btnflecheretour {
    margin-left: -73px;
    font-size: 18px;
  }
}

.menus button {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
  border-radius: 20px;
  margin: 10px 0px 10px 17px;
  width: 93%;
  cursor: pointer;
}
@media screen and (max-width: 424px) {
  .menus button {
    width: 92%;
  }
}
@media screen and (max-width: 374px) {
  .menus button {
    width: 91%;
  }
}

#btnheart {
  border: none;
  background: none;
  cursor: pointer;
}

.flechelogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.titreheader {
  font-size: 32px;
  font-family: "Shrikhand", sans-serif;
  margin-top: 0px;
  height: 20px;
  text-align: center;
}
@media screen and (max-width: 424px) {
  .titreheader {
    font-size: 31px;
  }
}
@media screen and (max-width: 374px) {
  .titreheader {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titreheader {
    font-size: 35px;
  }
}

svg.svg-inline--fa.fa-arrow-left {
  display: flex;
  justify-content: flex-start;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1px 20px;
}
footer nav {
  margin-left: 10px;
}
footer .textfooter {
  color: white;
  font-family: "Shrikhand", sans-serif;
}
footer ul {
  list-style: none;
  margin-left: -40px;
  margin-bottom: 5px;
}
footer li {
  margin-bottom: 10px;
}
footer .fa-utensils {
  margin-right: 10px;
}
footer .fa-handshake-angle {
  margin-right: 4px;
}
footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer nav {
    margin-left: 183px;
  }
}

.form {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  background: linear-gradient(180deg, #cbcbcb -1%, #eaeaea 7%);
  text-align: center;
}
.form .formtext {
  margin-right: 25px;
  font-size: 15px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .form .formtext {
    font-size: 18px;
  }
}
.form .iconegeo {
  margin-right: 20px;
  font-size: 16px;
}
@media screen and (max-width: 424px) {
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 374px) {
  .form {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .form {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px) {
  .form {
    width: 100%;
  }
}

body .description nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section.location {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  height: 270px;
}
section.location .textacceuil {
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  section.location {
    height: 280px;
    margin-bottom: 0;
  }
}

.description {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}
.description span {
  background-color: #9356DC;
  padding: 12px;
  border-radius: 50px;
  color: white;
  width: 2%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 375px;
  position: absolute;
}
@media screen and (max-width: 424px) {
  .description span {
    margin-right: 325px;
  }
}
@media screen and (max-width: 374px) {
  .description span {
    margin-right: 275px;
    padding: 10px;
    font-size: 13px;
  }
}
.description .fa-mobile-screen-button, .description .fa-list, .description .fa-store {
  margin-left: -50px;
  margin-right: -40px;
}
@media screen and (max-width: 424px) {
  .description .fa-mobile-screen-button, .description .fa-list, .description .fa-store {
    margin-left: -20px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 374px) {
  .description .fa-mobile-screen-button, .description .fa-list, .description .fa-store {
    margin-left: -13px;
    margin-right: 0;
  }
}
.description .fa-mobile-screen-button:hover, .description .fa-list:hover, .description .fa-store:hover {
  color: #9356DC;
}
.description .composez {
  margin-right: 5%;
}
.description .degustez {
  margin-right: 3%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .description {
    display: grid;
  }
}

.restaurants figure {
  background-color: white;
  border-radius: 20px;
  width: 90%;
  margin: 20px 20px;
}

.restaurants a {
  justify-content: right;
}

.restaurants a img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 190px;
  object-position: 20% 104%;
}
@media screen and (max-width: 424px) {
  .restaurants a img {
    height: 170px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a img {
    height: 145px;
  }
}

.restaurants a.carte2restaurant img {
  object-position: 20% 61%;
}

.restaurants a figcaption {
  width: 90%;
  margin-left: 10px;
  height: 70px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
@media screen and (max-width: 424px) {
  .restaurants a figcaption {
    height: 60px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a figcaption {
    height: 50px;
  }
}
.restaurants a figcaption p {
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: -15px;
}
.restaurants a figcaption .coeur {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.restaurants a figcaption .coeur .fa-heart {
  height: 2rem;
  margin-top: -1.2rem;
}
@media screen and (max-width: 424px) {
  .restaurants a figcaption .coeur .fa-heart {
    height: 1.6rem;
    margin-top: -1rem;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a figcaption .coeur .fa-heart {
    height: 1.3rem;
  }
}
.restaurants a figcaption .legende {
  width: 90%;
  font-size: 17px;
  margin-top: -5px;
}
@media screen and (max-width: 424px) {
  .restaurants a figcaption .legende {
    font-size: 15px;
    margin-left: 1px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 374px) {
  .restaurants a figcaption .legende {
    font-size: 13px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

main li {
  text-decoration: none;
  display: flex;
  margin-bottom: 8%;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  display: flex;
}
ahover {
  cursor: pointer;
}

.evenement {
  position: absolute;
  padding: 7px 13px;
  background-color: #99E2D0;
  color: rgba(29, 130, 105, 0.8117647059);
  font-weight: bold;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 32px;
  margin-right: 41px;
}
@media screen and (max-width: 424px) {
  .evenement {
    padding: 5px 8px;
    margin-top: 34px;
    font-size: 13px;
  }
}
@media screen and (max-width: 374px) {
  .evenement {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .evenement {
    margin-top: 39px;
  }
}

.Titrepages {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  border-radius: 50px 50px 0 0px;
  margin-top: -65px;
  position: absolute;
  width: 100%;
  margin-left: 0;
  padding-right: 45px;
  padding-left: 20px;
}
.Titrepages .fa-heart {
  height: 1.5rem;
  margin-top: -0.6rem;
  margin-right: 0;
}
@media screen and (max-width: 424px) {
  .Titrepages {
    width: 100%;
    font-size: 18px;
    margin-top: -60px;
  }
  .Titrepages .fa-heart {
    margin-top: -0.7rem;
    margin-right: -0.2rem;
  }
}
@media screen and (max-width: 374px) {
  .Titrepages {
    font-size: 15.5px;
    margin-top: -50px;
  }
  .Titrepages .fa-heart {
    margin-right: -0.8rem;
    height: 1.2rem;
    margin-top: -0.2rem;
  }
}

.choixrestaurants {
  background-color: #F6F6F6;
  display: grid;
  height: auto;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 424px) {
  .choixrestaurants {
    height: 1220px;
  }
}
@media screen and (max-width: 374px) {
  .choixrestaurants {
    height: 1050px;
  }
}
.titreacceuil {
  font-size: 20px;
  margin-left: 5%;
  margin-top: 40px;
}
@media screen and (max-width: 424px) {
  .titreacceuil {
    font-size: 23px;
  }
}
@media screen and (max-width: 374px) {
  .titreacceuil {
    margin-left: 7%;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .titreacceuil {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.restaurants {
  margin-top: -15px;
}
@media screen and (max-width: 374px) {
  .restaurants {
    margin-top: -20px;
  }
}

.menus {
  background-color: #F6F6F6;
  margin-top: 25px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 424px) {
  .menus {
    margin-top: 20px;
  }
}
@media screen and (max-width: 374px) {
  .menus {
    margin-top: 15px;
  }
}

.entrees {
  display: flex;
  flex-direction: column;
}

.plats {
  display: flex;
  flex-direction: column;
}

.desserts {
  display: flex;
  flex-direction: column;
}

article h2 {
  margin-left: 25px;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  width: 9%;
  padding-bottom: 5px;
  font-size: 15px;
}
@media screen and (max-width: 424px) {
  article h2 {
    margin-left: 20px;
  }
}
@media screen and (max-width: 374px) {
  article h2 {
    margin-left: 20px;
  }
}

.legende {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: -5px;
  text-align: left;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 424px) {
  .legende {
    font-size: 14px;
  }
}
@media screen and (max-width: 374px) {
  .legende {
    font-size: 12px;
  }
}

.legende p {
  margin-bottom: 0px;
  margin-top: -12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 310px;
  font-size: 16.5px;
}
@media screen and (max-width: 424px) {
  .legende p {
    width: 265px;
    font-size: 14.3px;
  }
}
@media screen and (max-width: 374px) {
  .legende p {
    width: 227px;
    font-size: 12.3px;
  }
}

.desserts .legende p {
  font-size: 16.1px;
}
@media screen and (max-width: 424px) {
  .desserts .legende p {
    font-size: 14px;
  }
}
@media screen and (max-width: 374px) {
  .desserts .legende p {
    font-size: 12px;
  }
}

.legende p.myrtilles {
  font-size: 17.8px;
}
@media screen and (max-width: 424px) {
  .legende p.myrtilles {
    font-size: 15.5px;
  }
}
@media screen and (max-width: 374px) {
  .legende p.myrtilles {
    font-size: 13.5px;
  }
}

.noteenchantee p {
  font-size: 16px;
}
@media screen and (max-width: 424px) {
  .noteenchantee p {
    font-size: 14px;
  }
}
@media screen and (max-width: 374px) {
  .noteenchantee p {
    font-size: 12.3px;
  }
}

.prix {
  margin-right: 20px;
  margin-bottom: -30px;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 424px) {
  .prix {
    font-size: 15px;
    margin-bottom: -20px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 374px) {
  .prix {
    font-size: 13px;
    margin-bottom: -10px;
    margin-right: 10px;
  }
}

.commander {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  background-color: #F6F6F6;
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
