@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/keyframes";
body .description nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/*SECTION LOADING-SPINNER*/
.loading-spinner{
    background: $color-backgroundform;
    height: 500px;
    line-height: 500px;
    font-family: $title-font;
    font-size: 30px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.loader{
    width: 50px;
    height: 50px;
    display: inline;
    vertical-align: middle;
    color:black;
    position: relative;
}
.cercle-chargement{
    border-radius: 50px;
    border: 10px solid $color-primary;
    &::after{
        content: '';
        position: absolute;
        width: 50px;
        top: -5px;
        left: 15px;
        bottom: -5px;
        right: -10px;
        border-top: 5px solid transparent;
        border-radius: 40px;
        border-top-color: $color-secondary;
        animation: spin 1.5s linear infinite;
    }
.spinner-chargement{
    border: 5px solid $color-tertiary;
    border-radius: 50px;
    &::after{
        content:'';
        display: inline-block;
        position: absolute;
        width: 50px;
    }

}
}

/*SECTION LOCATION*/
section.location{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $color-background;
    height: 270px;
    .textacceuil{
        font-size: 16px;
        margin-top: -10px;
        margin-bottom: 25px;
    } 
    @include tablette{
        height: 300px;
        margin-bottom: 0;
        font-size: 17px;
    }
    
}
/*SECTION DESCRIPTION*/
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
        ol{
            
            @include desktop-S{
                display: flex;
                justify-content: center;
            }
            @include desktop-M{
                display: flex;
                justify-content: center;
            }
            @include desktop-L{
                display: flex;
                justify-content: center;
            }
        }
        span{
            background-color: #9356DC;
            padding: 12px;
            border-radius: 50px;
            color: white;
            width: 2%;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 375px;
            position: absolute;
            @include mobile-Medium-screen{
                margin-right: 325px;
                
            }
            @include mobile-Small-screen{
                margin-right: 275px;
                padding: 10px;
                font-size:13px;
            }
            
            @include desktop-S{
                margin-right: 235px;
            }
            @include desktop-M{
                margin-right: 235px;
                width: 1%;
            }
            @include desktop-L{
                margin-right: 300px;
                width: 1%;
            }
            

        }
        .fa-mobile-screen-button, .fa-list, .fa-store{
            margin-left: -50px;
            margin-right: -40px;
            @include mobile-Medium-screen{
                margin-left: -20px;
                margin-right: -5px;
            }
            @include mobile-Small-screen{
                margin-left: -13px;
                margin-right: 0;
            }
            @include desktop-S{
                margin-left: 0;
                margin-right: 7px;
            }
            @include desktop-M{
                margin-left: 0;
                margin-right: 7px;
            }
            @include desktop-L{
                margin-left: 0;
                margin-right: 5px;
            }

            
        }
        .composez{
            margin-right: 5%;
        }
        .degustez{
            margin-right: 3%;
        }
        @include tablette{
            display: flex;
            align-items: inherit;
        }
        @include desktop-S{
            display: flex;
            align-items: inherit;
        }
        @include desktop-M{
            display: flex;
            align-items: inherit;
        }
        @include desktop-L{
            display: flex;
            align-items: inherit;
        }
        
}
/*SECTION RESTAURANTS*/
.restaurants figure{
    background-color : white;
    border-radius: 20px;
    width: 90%;
    margin: 20px 20px;
}
.restaurants a{
    justify-content: right;
    margin-bottom: -25px;
    @include tablette{
        margin-bottom: -15px;
        width: 90%;
    }
    
    @include desktop-S{
        margin-bottom: 0;
        width: 132%;
        
    }
    @include desktop-L{
        margin-bottom: -10px;
    }
    
}

.restaurants a img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 170px;
    object-position: 20% 104%;
    @include mobile-Medium-screen{
        height: 145px;
    }
    @include mobile-Small-screen{
        height: 125px;
    }
    @include tablette{
        height: 170px;
    }
    @include desktop-L{
        height: 230px;
    }
}
.restaurants a.carte2restaurant img {
    object-position: 20% 61%;
}

.restaurants a figcaption{
    width: 90%;
    margin-left: 10px;
    height: 70px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    @include mobile-Medium-screen{
        height:60px;
    }
    @include mobile-Small-screen{
        height:50px;
    }
    @include tablette{
        height: 50px;
    }
    @include desktop-S{
        height: 80px;
    }
    p{
        font-weight: 100;
        margin-bottom: 15px;
        margin-top: -15px;

}
    
    .legende{
        width: 90%;
        font-size: 17px;
        margin-top: -5px;
        @include mobile-Medium-screen{
            font-size: 15px;
            margin-left: 1px;
            margin-top: 5px;
        }
        @include mobile-Small-screen{
            font-size: 13px;
        }
        @include tablette{
            font-size: 15px;
            margin-top: 5px;
            p{
                font-size: 18px;
            }
        }
        @include desktop-S{
            font-size: 16px;
            p{
                font-size: 19.5px;
            }
        }
        @include desktop-L{
            margin: 5px 0 15px 5px;
            font-size: 20px;
            p{
                font-size: 23px;
            }
        }
    }


}
/*TRANSITION COEUR*/
button.coeur{

    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    width: 25px;
    height: 25PX;
    z-index:0;
    background:transparent;
    border:none;
    position:relative;
    margin-bottom: 10%;
    cursor: pointer;
    margin-top: -22%;
    margin-left: 78%;
   
    @include mobile-Medium-screen{
        margin-top: -21%;
    }
    @include mobile-Small-screen{
        margin-top: -23%;
        font-size: 19px;
    }
    @include tablette{
        margin-top: -17%;
        margin-left: 67%;
        
    }

    @include desktop-S{
        margin-top: -30%; 
        margin-bottom: 25%;  
        margin-left: 100%;
    }
    @include desktop-M{
        margin-top: -22%; 
        margin-bottom: 20%;  
    }
    @include desktop-L{
        margin-top: -17%; 
       
    }

    .coeurvide{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 1;
    }
    .coeurplein{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-clip:text;
        color: transparent;
        opacity: 0;
        background-image: $color-background-btn;
        z-index: -1;
        &:hover{
            opacity: 1;
            z-index: 0;
        }
        
    

   
    
    
        
    @include mobile-Medium-screen{
        height: 1.4rem;
        
    }
    @include mobile-Small-screen{
        height: 1.3rem;
    }
    @include tablette{
        height: 1.4rem;
        
    }
    @include desktop-S{
        height: 23px;
        
    }
   
}
}
