@import "../utils/variables";
@import "../utils/mixins";
body .description nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section.location{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $color-background;
    height: 270px;
    .textacceuil{
        font-size: 16px;
        margin-top: -10px;
        margin-bottom: 25px;
    } 
    @include tablette{
        height: 330px;
        margin-bottom: 0;
        font-size: 20px;
    }
    
}
.description{
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
        span{
            background-color: #9356DC;
            padding: 12px;
            border-radius: 50px;
            color: white;
            width: 2%;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 375px;
            position: absolute;
            @include mobile-Medium-screen{
                margin-right: 325px;
                
            }
            @include mobile-Small-screen{
                margin-right: 275px;
                padding: 10px;
                font-size:13px;
            }
            @include tablette{
                font-size: 20px;
                padding: 14px;
                margin-right: 435px;
            }
            

        }
        .fa-mobile-screen-button, .fa-list, .fa-store{
            margin-left: -50px;
            margin-right: -40px;
            @include mobile-Medium-screen{
                margin-left: -20px;
                margin-right: -5px;
            }
            @include mobile-Small-screen{
                margin-left: -13px;
                margin-right: 0;
            }
            &:hover{
                color: $color-primary;
            }
        }
        .composez{
            margin-right: 5%;
        }
        .degustez{
            margin-right: 3%;
        }
        @include tablette{
            display: grid;

        }
}
.restaurants figure{
    background-color : white;
    border-radius: 20px;
    width: 90%;
    margin: 20px 20px;
}
.restaurants a{
    justify-content: right;
    margin-bottom: -25px;
    @include tablette{
        margin-bottom: -10px;
}
}

.restaurants a img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 190px;
    object-position: 20% 104%;
    @include mobile-Medium-screen{
        height: 170px;
    }
    @include mobile-Small-screen{
        height: 145px;
    }
    @include tablette{
        height: 245px;
    }
}
.restaurants a.carte2restaurant img {
    object-position: 20% 61%;
}

.restaurants a figcaption{
    width: 90%;
    margin-left: 10px;
    height: 70px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    @include mobile-Medium-screen{
        height:60px;
    }
    @include mobile-Small-screen{
        height:50px;
    }
    @include tablette{
        height: 100px;
    }
    @include desktop{
        height: 50px;
    }
    p{
        font-weight: 100;
        margin-bottom: 15px;
        margin-top: -15px;

}
    .coeur{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        .fa-heart{
            height: 2rem;
            margin-top: -1.2rem;
            @include mobile-Medium-screen{
                height: 1.6rem;
                margin-top: -1rem;
            }
            @include mobile-Small-screen{
                height: 1.3rem;
            }
            
        }
}
    .legende{
        width: 90%;
        font-size: 17px;
        margin-top: -5px;
        @include mobile-Medium-screen{
            font-size: 15px;
            margin-left: 1px;
            margin-top: 5px;
        }
        @include mobile-Small-screen{
            font-size: 13px;
        }
        @include tablette{
            font-size: 23px;
            
            p{
                font-size: 27px;
            }
        }


}
}