@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/keyframes";


/*SECTION LOADING-SPINNER*/
.loading-spinner {
    background: $color-backgroundform;
    height: 100%;
    line-height: 650px;
    font-family: $title-font;
    font-size: 230%;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10000;
    display: inline-block;
    transition: all 3s;
    animation: loader .01s 3s both;

    @include mobile-Medium-screen {
        font-size: 230%;
        line-height: 600px;
    }

    @include mobile-Small-screen {
        font-size: 180%;
        line-height: 600px;
    }

    @include desktop-L {
        font-size: 330%;
        line-height: 950px;
    }
}

.loader {
    /*animation de fondu vers le site après chargement*/
    display: inline;
    vertical-align: middle;
    color: black;
    position: relative;
    border:5px solid $color-primary;
    border-radius: 50px;
    animation: fadeInAnimation 2.5s ease 1 forwards;
    &:before{
        content:'';
        position:absolute;
        border:5px solid transparent;
        border-bottom-color:$color-secondary;
        bottom:0px;
        top:-5px;
        width:24%;
        height:100%;
        border-radius:0px;
        left:1%;
        right:0%;
        animation :move 2s linear infinite;
        
      }
       
    .point1{
         animation: jump 1.25s linear alternate infinite;
       }
    .point2{
         animation: jump 1.7s linear alternate infinite;
       }
       .point3{
         animation: jump 1.95s linear alternate infinite;}
       }
       
.jump {
    transform-origin: 50% 50%;
    animation: jump 1s linear alternate infinite;
    display:inline-block;
    margin-right:-10px;
    font-size:35px;
    @include mobile-Small-screen{
        margin-right:-5px;
        font-size:25px;
    }
  }

/*SECTION LOCATION*/
section.location {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $color-background;
    height: 270px;

    .textaccueil_h2 {
        @include desktop-L {
            font-size: 30px;
        }
    }

    .textacceuil_p {
        font-size: 16px;
        margin-top: -10px;
        margin-bottom: 25px;

        @include desktop-L {
            font-size: 20px;
        }
    }

    @include tablette {
        height: 300px;
        margin-bottom: 0;
        font-size: 17px;
    }

    @include desktop-L {
        height: 310px;
    }

}

/*SECTION DESCRIPTION*/
.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    width: 100%;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include mobile-L-tablette{
            width: 100%;
        }
    }
    ol {
        @include mobile-L-tablette {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include desktop-S {
            display: flex;
            justify-content: center;
        }

        @include desktop-M {
            display: flex;
            justify-content: center;
        }

        @include desktop-L {
            display: flex;
            justify-content: center;
        }
    }

    span {
        background-color: #9356DC;
        padding: 12px;
        border-radius: 50px;
        color: white;
        width: 2%;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -4%;
        position: absolute;

        @include mobile-Medium-screen {
            margin-right: 325px;

        }

        @include mobile-Small-screen {

            padding: 10px;
            font-size: 13px;
        }

        @include tablette {
            margin-left: -2%;
        }

        @include desktop-S {
            margin-left: -2%;
        }

        @include desktop-M {
            margin-left: -1.1%;
            width: 1%;
        }

        @include desktop-L {
            margin-left: -0.8%;
            width: 1%;
        }


    }

    .fa-mobile-screen-button,
    .fa-list,
    .fa-store {
        margin-left: -50px;
        margin-right: -40px;

        @include mobile-Medium-screen {
            margin-left: -20px;
            margin-right: -5px;
        }

        @include mobile-Small-screen {
            margin-left: -13px;
            margin-right: 0;
        }

        @include desktop-S {
            margin-left: 0;
            margin-right: 7px;
        }

        @include desktop-M {
            margin-left: 0;
            margin-right: 7px;
        }

        @include desktop-L {
            margin-left: 0;
            margin-right: 5px;
        }


    }

    .composez {
        margin-right: 5%;
    }

    .degustez {
        margin-right: 3%;
    }

    @include tablette {
        display: flex;
        align-items: inherit;
    }

    @include desktop-S {
        display: flex;
        align-items: inherit;
    }

    @include desktop-M {
        display: flex;
        align-items: inherit;
    }

    @include desktop-L {
        display: flex;
        align-items: inherit;
    }

}

/*SECTION RESTAURANTS*/
.restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 0% 5%;
    position: absolute;

    @include mobile-Medium-screen {
        margin: 0% 0% 0% 5%;
    }

    

    @include desktop-S {
        justify-content: space-between;
        margin: 1% 24% 0 13%;

    }

    @include desktop-M {
        justify-content: space-between;
        margin: 1% 22% 0 23%;

    }

    @include desktop-L {
        justify-content: space-between;
        margin: 0% 30% 0 31%;

    }

}

.cartesrestaurants {
    width: 100%;
    margin-left: -20px;

    @include tablette {
        width: 52%;
        margin-right: -3%;
    }
    @include mobile-L-tablette{
        width: 65%;
    }
    @include desktop-S {
        width: 45%;
        margin-right: -5%;
    }

    @include desktop-M {
        width: 50%;
    }

    @include desktop-L {
        width: 50%;
    }

}

.restaurants figure {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    margin: 20px 20px;
}

.restaurants a {
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: -25px;

    @include tablette {
        margin-bottom: -15px;
        width: 90%;
    }

    @include desktop-S {
        margin-bottom: 0;
        width: 132%;

    }

    @include desktop-L {
        margin-bottom: -10px;
    }

}

/*IMAGES CARTES RESTAUTANTS*/
.restaurants a img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 195px;
    object-position: 20% 104%;

    @include mobile-Medium-screen {
        height: 175px;
    }

    @include mobile-Small-screen {
        height: 145px;
    }

    @include tablette {
        height: 160px;
    }

    @include desktop-L {
        height: 240px;
    }
}

.restaurants a.carte2restaurant img {
    object-position: 20% 61%;
}

.restaurants a figcaption {
    width: 90%;
    margin-left: 10px;
    height: 60px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;

    @include mobile-Medium-screen {
        height: 60px;
    }

    @include mobile-Small-screen {
        height: 50px;
    }

    @include tablette {
        height: 60px;
    }

    @include desktop-S {
        height: 70px;
    }

    @include desktop-M {
        height: 75px;
    }

    @include desktop-L {
        height: 75px;
    }


    .legende {
        width: 90%;
        font-size: 17px;
        margin-top: -5px;

        @include mobile-Medium-screen {
            font-size: 15px;
            margin-left: 1px;
            margin-top: 5px;
        }

        @include mobile-Small-screen {
            font-size: 13px;
        }

        @include tablette {
            font-size: 15px;
            margin-top: 5px;
        }

        @include desktop-S {
            font-size: 16px;

        }

        @include desktop-L {
            margin: 5px 0 15px 5px;
            font-size: 20px;
        }
    }

    p {
        font-weight: 100;
        margin-bottom: 15px;
        margin-top: -15px;
        font-size: 20px;

        @include mobile-Medium-screen {
            font-size: 18px;
        }

        @include mobile-Small-screen {
            font-size: 16px;
        }

        @include tablette {
            font-size: 18px;
        }

        @include desktop-S {
            font-size: 19px;

        }

        @include desktop-L {
            font-size: 24px;

        }
    }

}

/*TRANSITION COEUR*/
.btncoeur {
    border: transparent;
    background: transparent;
    height: 24px;
    width: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 7%;
    cursor: pointer;
    margin-left: 78%;
    margin-top: -17%;
    @include mobile-Small-screen{
        margin-top: -20%;
    }
    @include mobile-L-tablette{
        margin-top: -16%;
    }
    
    @include tablette{
        margin-top: -16%;
    }
    @include desktop-S{
        margin-top: -27%;
    }
    @include desktop-S-M{
        margin-top: -23%;
    }
    @include desktop-M {
        margin-top: -20%;
    }
    @include desktop-M-L{
        margin-top: -15%;
    }
    @include desktop-L {
        height: 32px;
        width: 32px;
        
    }
}

.coeur {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 8%;
    z-index: 0;
    @include mobile-Medium-screen {
        margin-bottom: 6%;
    }

    @include mobile-Small-screen {
        height: 22px;
        width: 22px;
    }
    @include mobile-L-tablette{
        margin-bottom: 7%;
    }
    @include tablette {
        margin-left: 67%;

    }

    @include desktop-S {
        margin-bottom: 15%;
        margin-left: 100%;
        font-size: 23px;
    }

    @include desktop-M {
        font-size: 25px;
       
    }


    @include desktop-L {
        height: 32px;
        width: 32px;
        
    }
}

.coeur::before {
    opacity: 0;
    transition: 1.5s;
    content: "";
    background: linear-gradient(356deg, #9356dc, #ff79da);
}

.coeur:hover::before {
    opacity: 1;
}

.coeur:active::before {
    opacity: 1;
}

.coeur:before,
.coeurplein,
.coeurvide {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
}

.coeurplein,
.coeurvide {
    transition-duration: 1.5s;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
    font-size: 27px;
    
}
.fond_coeur {
    background: white !important;
    width: 100%;
    height: 100%;
}
.coeurvide:hover {
    opacity: 0;
}


