@import "../utils/variables";

@mixin padding-button($paddingbutton:15px 20px){
    padding: $paddingbutton;
}
@mixin button {
    font: {
        size: $font-size-body;
    }
    text: {
        align-items: center;
        font-weight: 500;
        font-size: 15px;
    }
    border-radius: 50px;
    margin-bottom: 50px;
    background: $color-background-btn;
    border:transparent;
    display: flex;
    opacity: 0.8;
    color: white;
    box-shadow: 0px 8px 10px -5px grey
}
@mixin hover-description($color:$color-primary){
    background: lighten($color,35%) 
}
@mixin mobile-Small-screen {
    @media screen and (max-width: 374px) {
        @content;
    }
}
@mixin mobile-Medium-screen {
    @media screen and (max-width: 424px) {
        @content;
    }
}
@mixin tablette {
    @media screen and (min-width:768px) and (max-width: 991px) {
            @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 992px) {
            @content;
    }
}