//couleurs
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-background-btn:linear-gradient(356deg,$color-primary,$color-secondary);
$color-background:#F6F6F6;
$color-form-grey:#cbcbcb;
$color-grey:#eaeaea;
$color-white:white;
$color-backgroundform:linear-gradient(180deg,$color-form-grey -1%,$color-grey 7%);
$color-backgroundfooter:#353535;
//polices
$title-font:"Shrikhand",sans-serif;
$body-font:"Roboto",sans-serif;
$font-awesome:"FontAwesome",sans-serif;
//taille-polices
$font-size-body:16px;
$font-size-title_h2:21px;
$font-size-p_h3:17.5px;
$font-size_h4:20px;
//taille-blocs
$width-mobile-S:100%;
$width-mobile-M:100%;
$width-mobile-L:100%;
$width-tablette:100%;
$width-desktop-S:100%;
$width-desktop-M:100%;
$width-desktop-L:100%;
//shadow
$shadow:0px 2px 5px 2px #eaeaea;
$shadow2X:5px 4px 10px 8px #eaeaea;
$shadowbtnaccueilmenu2X:0px 16px 20px -5px grey;
