footer{
    background-color:#353535;
    color: white;
    padding: 20px;
}
.textfooter{
    color: white;
    font-family: "Shrikhand", sans-serif;

}
footer ul{
    list-style: none;
    margin-left: -40px;
    margin-bottom: 5px;
}
footer li{
    margin-bottom: 10px;
}
footer .fa-utensils{
    margin-right : 10px;
}
footer .fa-handshake-angle{
    margin-right: 4px;
}
footer a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}