@import "../utils/variables";
footer{
    background-color:$color-backgroundfooter;
    color: white;
    padding: 1px 20px;
    nav{
        margin-left: 10px;
    }
}
.textfooter{
    color: white;
    font-family: $title-font;

}
footer ul{
    list-style: none;
    margin-left: -40px;
    margin-bottom: 5px;
}
footer li{
    margin-bottom: 10px;
}
footer .fa-utensils{
    margin-right : 10px;
}
footer .fa-handshake-angle{
    margin-right: 4px;
}
footer a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}