@import "../utils/variables";
@import "../utils/mixins";
.form{
    @include mobile-Medium-screen{
        width: $width-mobile-M;
    }
    @include mobile-Small-screen{
        width:$width-mobile-S;
    }
    
    @include tablette{
        width: $width-tablette;
    }
    @include desktop{
        width: $width-desktop;
    }
    width: $width-mobile-L;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    background:$color-backgroundform;
    text-align: center;
    height: 50px;
    border-top: 1px solid $color-backgroundform;
    border-bottom: 1px solid $color-grey;
        .formtext{
    margin-right: 25px;
    font-size: 15px;
  
    }
        .iconegeo{
    margin-right: 20px;
    font-size: 16px;
    }
      
}
