@import "../utils/variables";
@import "../utils/mixins";
.form{
    height: 50px;
    width: $width-mobile-L;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    background:$color-backgroundform;
    text-align: center;
        .formtext{
    margin-right: 25px;
    font-size: 15px;
            @include tablette{
                font-size: 18px;
            }
    }
        .iconegeo{
    margin-right: 20px;
    font-size: 16px;
    }
    @include mobile-Medium-screen{
        width: $width-mobile-M;
    }
    @include mobile-Small-screen{
        width:$width-mobile-S;
    }
    @include tablette{
        width: $width-tablette;
        margin-bottom: 10px;
        }
    
    @include desktop{
        width: $width-desktop;
    }
}
