.flechelogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    @include tablette{
        height: 80px;
        justify-content: space-evenly;
        margin-left: -15%;
    }
    @include desktop-S{
        height: 50px;
        justify-content: space-evenly;
        margin-left: -25%;
    }
    @include desktop-M{
        height: 80px;
        justify-content: space-evenly;
        margin-left: -30%;
    }
    @include desktop-L{
        justify-content: space-evenly;
        margin-left: -36%;
        height: 90px;
        
    }
}
.titreheader{
    font-size: 32px;
    font-family: $title-font;
    margin-top: 0px;
    height: 20px;
    text-align: center;
    @include mobile-Medium-screen{
        font-size:31px ;
    }
    @include mobile-Small-screen{
        font-size:30px ;
    }
    @include tablette{
        font-size: 35px;
        height: 35px;
        
    }
    @include desktop-S{
        font-size: 28px;
        height: 24px;
       
    }
    @include desktop-M{
        font-size: 35px;
        height: 30px;
        
    }
    @include desktop-L{
        font-size: 45px;
        height: 30px;
        
    }
}



